node_modules
.next
.git
.gitignore
.env
.env.local
.env.production
*.pem
Agent.pem:Zone.Identifier
test.pem:Zone.Identifier
Dockerfile
docker-compose.yml
README.md
traefik/acme/*.json
scripts/*.sh
scripts/*.ts
prisma/migrations
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
